<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html.twig' %}

<body>
    {% include 'partials/navbar.html.twig' %}
    <div class="container">

        <div class="row">
            <div class="col-12 my-4">
                <h1 class="fs-3 text-center">{{book.Title}}</h1>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/{{book.Cover}}">
            </div>
            <div class="col-8">
                <p>{{book.Description}}</p>
                <p><span class="text-uppercase">ISBN</span> {{book.ISBN}} {{book.ISBN13}}</p>
                <p><span class="text-uppercase">Author</span> {{book.Author}}</p>
                {% if account_id %}
                <form method="post" action="/detail.php?id={{book.id}}">
                    <input type="hidden" name="book_id" value="{{book.id}}">
                    <input type="hidden" name="account_id" value="{{account_id}}">
                    <button class="btn btn-primary">
                        Borrow this book
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% if type == 2 %}
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">
                <h3>Edit book details</h3>
                <form method="post" action="/bookedit.php">
                    <div class="mb-3">
                        <label for="title">Book Title</label>
                        <input type="text" id="title" name="title" class="form-control" value="{{book.Title}}">
                        <input type="hidden" name="origin" value="/detail.php?id={{book.id}}">
                        <input type="hidden" name="book_id" value="{{book.id}}">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</body>

</html>